[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
ollama = "*"
ipykernel = "*"
pandas = "*"
openai = "*"
llamaapi = "*"
pymongo = "*"
python-dotenv = "*"
numpy = "*"
gensim = "*"
kiwipiepy = "*"
kss = "*"
plotly = "*"
tqdm = "*"
py-hanspell = {git = "git+https://github.com/ssut/py-hanspell.git"}
sentence-transformers = "*"
tf-keras = "*"
requests = "*"
python-mecab-ko = "*"
konlpy = "*"
matplotlib = "*"
pyldavis = "*"
nbformat = "*"
ijson = "*"
chromadb = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
