[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
kiwipiepy = "*"
kss = "*"
konlpy = "*"
gensim = "*"
plotly = "*"
pyldavis = "*"
nbformat = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
